/* color scheme:
#FFB5A7 dark pink
#FCD5CE medium pink
#F8EDEB light pink
#F9DCC4 light peach
#FEC89A peach */

body {
    background-color: #FCD5CE;
}


.header {
    color: rgb(235, 99, 99);
    height: 200px;               
    text-align: center;
    background-color: #FCD5CE;
    border-style: 1px solid white;
    font-size: 150px;               
    font-family: 'Fredoka One', cursive;
}

.navbar {
    height: 4rem;
    background-color: #FFB5A7;
    text-align: right;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}
.navbar-btn {
    height: 4rem;
    width: 10rem;
    border-style: none;
    background-color: #FFB5A7;
}
#navbutton1, #navbutton2{
    margin: 10px; 
}

.navbar-btn:focus{
    background-color: rgb(235, 99, 99);   
}

#navbutton1, #navbutton2, #checkoutButton{
    background-color: rgb(235, 99, 99);
}

#checkoutButton{
    position: absolute; 
    top: 420px; 
    right: 60px;
    color: white; 
}

.container{
   width: 100vw;
   padding-top: 50px;

}
.product-container {
    height: 15rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #F9DCC4;
    border-style: solid;
    border-color: white;

}

.image{
    display:flex;
    justify-content: flex-start;
    height: 200px;
    width: 300px;
    float: right;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.image{
    display:flex;
    justify-content: flex-start;
    height: 200px;
    width: 300px
}
.addtocart-btn {
    margin: 5rem;
    height: 6rem;
    width: 12rem;
}

#buttonColor{
    background-color: rgb(235, 99, 99);
}

.modal{
    background-color: #FCD5CE;
}

.waves-effect{
    z-index: 0;
}
img {
    float: right;
}

.sticky{
    position: fixed;
    width: 450px;
    height: 500px;
    border-radius: 5px;
    background-color: #F9DCC4;
    border-style: solid;
    border-color: white;
}

#cart{
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(235, 99, 99);
    font-size: 40px;
}

#cartSticky li, #cartStickyPrices li{
    list-style-type: none;
    padding-left: 130px; 

}

#checkoutBin, #total{
    padding-left: 130px; 
    font-weight: bolder; 
}

#checkoutButton{
    position: absolute; 
    top: 400px; 
    right: 40px; 
    color: white; 

}

.celebrate {
    height: 400px;
}

.hide {
    display: none;
}
