
<<<<<<< HEAD
<<<<<<< HEAD

=======
=======
>>>>>>> e172b543081fe6fdf0d2c3c5509f361449db545b
/* color scheme:
#FFB5A7 dark pink
#FCD5CE medium pink
#F8EDEB light pink
#F9DCC4 light peach
#FEC89A peach */

body {
}
<<<<<<< HEAD
>>>>>>> 2051cf3aad97e4fea3394bc5478c5f420661ea24
=======

>>>>>>> e172b543081fe6fdf0d2c3c5509f361449db545b
.header {
    color: rgb(235, 99, 99); 
    height: 10rem;
    text-align: center;
    background-color: #FCD5CE; 
    border-style: 1px solid white;
    font-size: 5rem;
    font-family: 'Fredoka One', cursive;
}

.navbar {
    height: 4rem;
    background-color: #FFB5A7; 
    text-align: right;
}
.navbar-btn {
    height: 4rem;
    width: 10rem;
    border-style: none;
    background-color: #FFB5A7; 
}
.product-container {
    height: 15rem;
    display: flex;
    align-items: center;
    background-color: #F9DCC4;
    border-style: solid;
    border-color: white;
}
.addtocart-btn {
    margin: 5rem;
    height: 6rem;
    width: 12rem;
    background-color: white;
}
.product-description {

}
p, img {
    float: right;
}
.hide {
    display: none;
}
